.image-preview {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
}

.image-preview img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.ql-container {
    height: 300px;
    border-radius: 10px;
    font-family: var(--font-body);
}

.ql-editor {
    min-height: 200px;
}
.word-counter {
    font-size: 0.9rem;
    margin-top: 0.5rem;
    color: #555;
    text-align: right;
}
.btns-container {
    display: flex;
    gap: 1rem; 
    margin-top: 1.5rem;
    justify-content: flex-end; 
}

.btn:disabled {
    background-color: #ccc;
    cursor: not-allowed;
    color: #666;
}

