.header-container{
    position: sticky;
    top: 0;
    height: 80px;
    z-index: 100;
    width: 100%;
    display: flex;
    justify-content: center;
    box-shadow: 2px 0px 10px gray;
    z-index: 10;
    z-index: 200 !important;
    padding: 1rem;
    align-items: center;
    background-color: var(--color-secondary);
    color: var(--color-background);
}
.header{
    position: sticky;
    top: 0;
    width: 100%;
    padding: 2rem 1rem;
    max-width: 1140px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 2 ;
}
.logo{
    z-index: 10;
    display: flex;
    align-items: center;
    width: 40px;
}
.logo a{
    text-decoration: none;
    color: #000;
}
.logo a:active{
    color: #000;
    text-decoration: none;
}
.logo img{
    width:100%;
}
.nav-large-screen{
    display: none;
}
.nav a,
.nav button
{
    text-decoration:none;
    color:var(--black);
    font-size: 1.1rem;
    cursor: pointer;
    padding: .25rem;
}
.nav button{
    border: none;
    background-color: transparent;
}
.nav a:hover, 
.nav a:active, 
.active-nav{
    border-bottom: 2px solid var(--red);
}
.nav-small-screen-container{
    position: relative;
}

.nav-small-screen{
    display: flex;
    position: fixed;
    transform: translatex(100%);
    flex-direction: column;
    background-color: var(--body);
    gap: 1rem;
    width: 100vw;
    height: calc(100vh - 82px);
    justify-content: center;
    align-items: center;
    margin-top: 28px;
    transition: var(--transition);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    background-color: var(--color-secondary);
    color: var(--color-background);
}
.nav-small-screen-open{
    width: 95vw;
    right: 0%;
    transform: translatex(10%);
}
.hurmbugger-container{
    width: 25px;
    height: 25px;
    cursor: pointer;
}
.hurmbugger-container img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

@media screen and (min-width:576px){
    .logo{
        width: 50px;
    }
    
    .nav-small-screen-container{
        display: none;
    }
    .nav-large-screen{
        display: flex;
        gap: 1.35rem;
    }
    .nav a{
        font-size: 1.2rem;
    }
    .hurmbugger-container{
        display: none;
    }
}