.footer {
    background-color: var(--color-text); 
    color: var(--color-background); 
    padding: 2rem;
    text-align: center;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.footer p,
.footer a {
  margin: 0;
  color: var(--footer-color);
}

.social-links {
  display: flex;
  gap: 15px;
}

.social-links a img {
  width: 24px;
  height: 24px;
  filter: grayscale(100%);
  transition: filter 0.3s ease;
  
}

.social-links a:hover img {
  filter: grayscale(0%);
}
